<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsm8CXeDDwmH14dZakb_JmBbQ7zrJt5lg</string>
	<key>GCM_SENDER_ID</key>
	<string>577546316492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kwentokape</string>
	<key>PROJECT_ID</key>
	<string>kwentokape</string>
	<key>STORAGE_BUCKET</key>
	<string>kwentokape.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577546316492:ios:80509be18002278394b069</string>
	<key>DATABASE_URL</key>
	<string>https://kwentokape-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>